<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Succes</title>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
<div align="center">
    <h2>Registration Succeeded!</h2>
    <span>Superhero name:</span><span th:text="${superheroModel.name}"></span><br/>
    <span>Real name:</span><span th:text="${superheroModel.realName}"></span><br/>
    <span>Creation Year:</span><span th:text="${superheroModel.introductionDate}"></span><br/>
    <span>City:</span><span th:text="${superheroModel.cityName}"></span><br/>
    <span>Superpower(s):</span><span th:text="${superheroModel.superpowerList}"></span><br/>
</div>
</body>
</html>